{% extends "base.html" %}
{% block title %}User Detail{% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-3">
        <img src="{{user.image_url}}" class="rounded float-start" width="200" height="200">
    </div> 
    <div class="col-sm-9">
        <div class="row">
           <h1>{{user.full_name}}</h1> 
        </div>
        <div class="row">
            <form>
                <button type="submit" class="btn btn-primary" formmethod="get" formaction="/users/{{user.id}}/edit">Edit</button>             
                <button type="submit" class="btn btn-danger" formmethod="post" formaction="/users/{{user.id}}/delete">Delete</button>        
            </form>     
        </div>

        <div class="mt-4">
            <h2>Posts</h2>
            {% for post in posts %}
               <li><a href="/posts/{{post.id}}">{{post.title}}</a></li> 
            {% endfor %}

            <a class="btn btn-primary mt-2" href="/users/{{user.id}}/posts/new" role="button">Add Post</a>
        </div>   
        
    </div> 


</div>   
{% endblock %}